.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loading-image {
    margin-bottom: 15px;
    max-width: 50px;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: scale(0.8);
    animation: popIn 1.5s ease-out infinite;
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    background-color: #232323;
    padding: 24px;
    border-radius: 8px;
    max-width: 410px;
    max-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #232323;
    color: #CECECE50;
    border: 1px solid #CECECE50;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #FFE81F;
    border-color: #FFE81F;
    color: #232323;
}

.btn-secondary {
    background-color: #FFE81F;
    color: #232323;
    border: 1px solid #FFE81F;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #FFE81F80;
    border-color: #FFE81F80;
    color: #232323;
}