.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 170px;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto 70px;
}

.container {
    background-color: #232323;
    padding: 24px;
    border-radius: 8px;
    max-width: 410px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.btn-primary {
    background-color: #232323 !important;
    color: #CECECE50;
    border: 1px solid #CECECE50;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #FFE81F !important;
    border-color: #FFE81F !important;
    color: #232323 !important;
}

@media (max-width: 480px) {
    .logo {
        width: 222px;
    }
}